*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: url(image\ \(10\).jpg) no-repeat;
    background-position: center;
    background-size: cover;

}

.logo{
    color: #000;
}

main{
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid wheat;
    background-color: transparent;
    backdrop-filter: blur(25px);
    position: relative;
    color: #fff;
    
}



main header{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50px);
    padding: 10px 20px;
    background-color: white;
    border-radius: 0 0 10px 10px;
}

form{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input[type="text"],
input[type="password"]{
    padding:  10px;
    border: 2px solid white;
    width: 100%;
    border-radius: 25px;
    outline: none;
    background-color:transparent;
    color: white; 
}


.form-wrapper{
    position: relative;
    display: flex;
    align-items: center;
}

label{
    position: absolute;
    left: 10px;
    font-size: 12px;
    color: white;
}

input::placeholder{
    color: #fff;
}

i{
    position: absolute;
    right: 10px;
    color: white;
    font-size: 15px !important;
}
.remember-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
}

.remember{
    display: flex;
    align-items: center;
    gap: 5px;
    color: white;
}

a{
    color: white;
}

button{
    border: none;
    padding: 10px;
    border-radius: 25px;
    cursor: pointer;
}


/* header{
    position: absolute;
    content: "";
    top: 0;
    left: -30px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    box-shadow: 15px 0 0 0 white;
    border-top-right-radius: 50%;
} */